apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: result
  name: result
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
        - image: registry.gitlab.com/voting-application/result:v2
          name: result
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              name: result
